{% extends "navigation.html" %}

{% block navigation %}
<!-- 这个一部分属于 manage2.html 文件 -->
<!-- Start Content-->
<div class="container-fluid">


    <div class="row" style="margin-top: 45px;">
        <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <a href="/case/add/" class="btn btn-sm btn-link float-right mb-3">添加
                    </a>
                    <h4 class="header-title mt-2">用例管理</h4>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0 table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">名称</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">URL</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">方法</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">模块</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">创建时间</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">操作</h5>
                                    </td>
                                </tr>
                            <thead>
                            <tbody>
                                {% for c in cases %}
                                <tr>
                                    <td>
                                        <span class="text-muted font-13">{{ c.name }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13">{{ c.url }}</span>
                                    </td>
                                    <td>
                                        {% if c.method == 1%}
                                            <span class="text-muted font-13">GET</span>
                                        {% elif c.method == 2%}
                                            <span class="text-muted font-13">POST</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="text-muted font-13">{{ c.module }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13">{{ c.create_time | date:"Y-m-d H:i:s"}}</span>
                                    </td>
                                    <td>
                                        <a class="mb-3" href="/case/edit/{{ c.id }}/">编辑</a>
                                        <a class="mb-3" href="/case/delete/{{ c.id }}/">删除</a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

    </div>
    <!-- end row -->

</div>
<!-- container -->

{% endblock %}
