{% extends "navigation.html" %}

{% block navigation %}
<!-- 这个一部分属于 manage2.html 文件 -->
<!-- Start Content-->
<div class="container-fluid">

    <div class="row" style="margin-top: 45px;">
        <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
            <div class="card">
                <div class="card-body">

                    <!-- 任务的名称-->
                    <div class="form-group">
                        <label for="task_name">任务名称:</label>
                        <input type="text" class="form-control" id="task_name">
                    </div>

                    <!-- 返回值 -->
                    <div class="form-group">
                        <label for="task_desc">任务描述：</label>
                        <textarea class="form-control" id="task_desc" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="task_desc">用例：</label>
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>

                    <div class="form-group" style="text-align: right;">
                        <button type="button" class="btn btn-dark" onclick="saveTask()">Save</button>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

    </div>
    <!-- end row -->

</div>
<!-- container -->
{% load static %}
<script src="https://cdn.bootcss.com/jquery/1.4.2/jquery.js"></script>
<link href="https://cdn.bootcss.com/zTree.v3/3.5.39/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/zTree.v3/3.5.40/js/jquery.ztree.all.js"></script>
<script type="text/javascript">
    var url = window.location.href;
    var taskId = url.split("/")[5];
    console.log("tid", taskId)

    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        check: {
            enable: true,
            chkStyle: "checkbox",
        }
    };

    $(document).ready(function () {

        // 获取任务的信息
        $.get("/api/get_task/" +taskId +"/", {},
            function (resp) {
                if (resp.code == 10200) {
                    console.log(resp.data.name);
                    $("#task_name").val(resp.data.name);
                    $("#task_desc").val(resp.data.describe);
                } else {
                    window.alert(resp.msg);
                }

            });
        
        $.get("/api/get_case_tree/"+taskId+"/", {},
            function (resp) {
                if (resp.code == 10200) {
                    console.log(resp.data);
                    zNodes = resp.data;
                    zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                } else {
                    window.alert(resp.msg);
                }

            });

    });

    //编辑保存任务
    function saveTask() {
        // 任务的名称
        var tName = $("#task_name").val()
        // 任务的描述
        var tDesc = $("#task_desc").val();

        console.log(tName);
        console.log(tDesc);

        zTreeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = zTreeObj.getCheckedNodes(true);

        var cases = new Array()
        for (var i = 0; i < nodes.length; i++) {
            console.log(nodes[i].isParent)
            if (nodes[i].isParent == false) {
                cases.push(nodes[i].id);
            }
        }
        console.log("cases", cases)
        // 将列表转为字符串
        var casesStr = JSON.stringify(cases);
        $.post("/api/edit_task/" +taskId+"/", {
            task_name: tName,
            task_desc: tDesc,
            task_cases: casesStr,
        }, function (resp) {
            console.log("resp=>", resp);
            window.alert(resp.msg);
        });

    }




</script>

<style>
    .create-option {
        height: 45px;
    }

    div.jsoneditor {
        border: thin solid #727cf5;
    }

    div.jsoneditor-menu {
        display: none;
    }

    .ace-jsoneditor .ace_gutter {
        background: white;
    }

    div.jsoneditor-outer.has-main-menu-bar {
        margin-top: 0px;
        padding-top: 0px;
    }

    .per-label {
        margin-right: 10px;
        margin-bottom: 4px;
        font-size: 1rem;
    }
</style>

{% endblock %}